<!DOCTYPE html>
<html>
  <head>
    <title>Classpass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <% if logged_in? %>
      <h3>Welcome, <%= current_student.user_name %></h3>
      <%= button_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= button_to "Sign Up", new_student_path, method: :get %>
      <%= button_to "Login", login_path, method: :get %>
    <% end %>
    <%= yield %>
  </body>
</html>
